@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900|Roboto:400,100);

body {
  background-color: #fff;
  padding: 20px;
  
}
.ceneter{ display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: -106px;
  padding-top: 27px;
  }

  .results-a{
  
    max-width: 350px;
    margin-top: 105px;
    margin-left: 270px;
    background-color: rgba(26, 55, 151, 0.246);
    transition: background-color 1s;
  }
  .correct-result{
    display: inline-block;
    width: 280px;
    height: 40px;
    background-color: rgba(50, 116, 35, 0.83) !important;
    font-size: 1.4em;
    border: 2px solid rgba(10, 119, 37, 0.781) !important;
    border-radius: 6px;
    position: relative;  
    background-size: 35px !important;
    background: url(../images/icon_correct.svg) no-repeat ;

    
  }
  .incorrect-result{
    display: inline-block;
    width: 280px;
    height: 40px;
    background-color: rgba(133, 58, 58, 0.83) !important;
    font-size: 1.4em;
    border: 2px solid rgba(58, 2, 9, 0.4) !important;
    border-radius: 6px;
    position: relative; 
    background-size: 35px !important;
    background: url(../images/icon_incorrect.svg)  no-repeat ;
    
 
  }
.active-result{
  display: inline-block;
  width: 280px;
  height: 40px;
  background-color: rgba(216, 202, 11, 0.83);
  font-size: 1.4em;
  border: 2px solid rgba(10, 53, 119, 0.4);
  border-radius: 6px;
    position: relative;  
}
.deactive-result{
  display: inline-block;
  width: 280px;
  height: 40px;
  background-color: rgba(110, 110, 106, 0.83);
  font-size: 1.4em;
  border: 2px solid rgba(75, 80, 87, 0.4);
  border-radius: 6px;
    position: relative;  
}
#myQuiz {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 400;
   width: auto;
   height: 900px;
   margin: 0 auto;
   position: relative;
   color: rgb(26, 55, 75);
   overflow: hidden;
   background: #000 url(../images/2.jpg) no-repeat 0px 0px;
   background-size:100%;
   padding: 20px;
   text-align: right;
}

#myQuiz h1 {
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
  margin: 0px;
  position: relative;
  top: 25px;
  left:36px;
  
}

#myQuiz h1 span {
  display: block;
  font-weight: 900;
  font-family: 'Titillium Web', sans-serif;
  font-size: 3.2em;
  font-size: 3.2em;
  line-height: 65px;
}

#myQuiz h2 {
  font-size: 3em;
  margin: 0px;
  font-weight: 100;
}

#myQuiz h3 {
  font-size: 2.4em;
  margin: 0px;
  font-weight: 100;
}

#myQuiz p {
  margin: 0px 0px 14px 0px;
}

/* Progress Bar */
#myQuiz .progress {
  width: auto;
  height: auto;
  position: relative;
  top: 60px;
  left: 20;
  margin-right: 20px;
}


#myQuiz .progress div::after{
  content: '';
  display: block;
  position: absolute;
  top: -60px;
  left: -15px;
  width: 65px;
  height: 40px;
  background: url(../images/ring.svg) no-repeat 0px 0px;
  transition: opacity 1s top 1s;
  opacity: 0;
}

#myQuiz .progress div.on,
#myQuiz .progress div.answered {
   background-color: #efbe5e;
}

#myQuiz .progress div.correct::after {
  top: -5px;
  opacity: 1;
}

/* Intro */

#myQuiz .intro {
  position: absolute;
  top: 225px;
  left: 660px;
  width: 550px;
}

#myQuiz .intro p{
 margin: 0px 0px 40px 0px;
}

#myQuiz .btn {
  display: inline-block;
  cursor: pointer;
  background-color: #c04b01;
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 6px;
}

/* Questions */

#myQuiz .question {
  width: 850px;
  height: 550px;
  position: absolute;
  top: 105px;
  left: -890px;
  padding: 10px 10px;
  background-color: rgba(26, 55, 151, 0.246);
}

#myQuiz .question .txt {
  font-size: 1.6em;
  margin: 0px 0px 20px 0px;
}

#myQuiz .question .ans {
  display: inline-block;
  background-color: rgba(11, 192, 216, 0.83);
  font-size: 1.4em;
  width: 320px;
  min-height: 100px !important;
  max-height: 100px !important;
  border: 2px solid rgba(10, 53, 119, 0.4);
  border-radius: 6px;
    position: relative;
    padding-top: 25px;
    margin: 25px;
    padding-right: 10px;
  }

#myQuiz .question .ans.selected {
  border-color: #be4b16;
}

#myQuiz .question .ans.correct {
 border-color: #459a2e;
}

#myQuiz .question .ans:after {
 content: '';
 display: block;
 width: 20px;
 height: 20px;
 background: no-repeat 0px 0px;
 background-size: 20px 20px;
 position: absolute;
 top: 5px;
 right: 5px;
}

#myQuiz .question .ans.selected:after {
  background-image: url(../images/icon_incorrect.svg);
}

#myQuiz .question .ans.correct:after {
  background-image: url(../images/icon_correct.svg);

}

#myQuiz .question.unanswered .ans {
  cursor: pointer;
}

#myQuiz .question.unanswered .ans:hover {
  background-color: rgba(216, 127, 11, 0.83);
}

#myQuiz .question.answered .ans {
  cursor: default;
}

#myQuiz .question .ans.image {
  min-height: 60px;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

/* Feedback */
 .wrong-answer {
  color: red;
  margin-top: 10px;
  transition: opacity 1.5s, margin-top 1.5s;
 
}
.right-answer {
  color: green;
  margin-top: 10px !important;
  margin-right: 20px !important;
  margin-bottom: 30px !important;
  transition: opacity 1.5s, margin-top 1.5s;

}

 .feed-btn{
  display: inline-block;
  cursor: pointer;
  background-color: #c04b01;
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 6px;

  margin-top: 60px !important;

}

 .feedback h1{
  color: #fff;
}

 .answered .feedback{
  visibility: visible;
  opacity: 1;
  margin-top: 10px;
}

/* Results */
#myQuiz .results {
  position: relative;
  top: 125px;
  left: 660px;
  width: 550px;
}

#myQuiz .results .share {
  margin-top: 40px;
}

#myQuiz .results .share a.btn{
  margin-right: 20px;
  padding: 9px 15px 8px 42px;
  background-repeat: no-repeat;
  background-position: 10px 5px;
  background-size: 25px 25px;
}

#myQuiz .results .share a.btn.email{
  background-color: #f0a121;
  background-image: url(../images/icon_email.svg);
}

#myQuiz .results .share a.btn.twitter{
  background-color: #59adeb;
  background-image: url(../images/icon_twitter.svg);
}


#myQuiz .active,
#myQuiz .inactive {
  transition: left 1.5s ease-in-out;
}

#myQuiz .active {
  left: 1px;
}

#myQuiz .intro.inactive,
#myQuiz .inactive.answered {
  left: -1350px;
  display: none;
}


@media screen and (max-width: 1200px) {
  body {
    padding: 0px;
    margin: 0px;
  }

  #myQuiz {
    width: 320px;
    background-size: 329px auto;
  }

  #myQuiz h1 {
    width: 300px;
    font-size: 1.3em;
    top: 25px;
    left: 25px;
  }

  #mQuiz h1 span {
    line-height: 43px;
  }

  #myQuiz h2 {
    margin: 0px;
  }

  #myQuiz h3 {
    font-size: 2.2em;
    margin-bottom: 15px;
  }

  #myQuiz .progress {
    width: 300px;
    top: 40px;
    left: 25px;
  }

  #myQuiz .progress div{
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }

  #myQuiz .progress div::after {
    top: -30px;
    width: 53px;
    height: 33px;
  }

  #myQuiz .intro {
    width: 300px;
    top: 160px;
    left: 330px;
  }

  #myQuiz .question {
    width: 300px;
    top: 160px;
    left: 330px;
  }

  #myQuiz .question .txt {
    font-size: 1.4em;
    margin-bottom: 15px;
  }

  #myQuiz .question .ans {
    font-size: 1em;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  #myQuiz .question .ans.image {
    min-height: 45px;
    background-size: auto 45px;
  }

  #myQuiz .question .ans.image:hover {
    background-color: #000;
  }

  #myQuiz .results {
    width: 260px;
    top: 50px;
    left: 330px;
  }

  #myQuiz .results .share {
    margin-top: 20px;
  }

  #myQuiz .results a.btn {
    margin-bottom: 20px;
  }

  #myQuiz .active {
    left: 25px;
  }

  #myQuiz .intro.inactive,
  #myQuiz .inactive.answered {
    left: -650px;
  }
}