<!DOCTYPE HTML>
<html ng-app="quizApp">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="libs/jquery.min.js"></script>
<script src="libs/bootstrap.min.js"></script>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>مسابقة اعدادي: العهد القديم</title>
	<link rel="stylesheet" type="text/css" href="css/quiz.css">
</head>

<body>
	<div id="myQuiz" ng-controller="QuizController">
		<div class="ceneter">
			<h2>مسابقة رجالة اعدادي</h2>
			<p>[5-1]سفر القضـــاة أصحاحات</p>
		</div>
		<div class="col-md-9">
			<div class="col-md-6">

				<div class="intro {{ (activeQuestion > -1) ? 'inactive' : 'active' }}">
					<h2>كنيسة الشهيد العظيم مارجرجس</h2>
					<p class="btn" ng-click="beginPlay()">أبدء</p>
				</div>
				<div class="question
					{{ ($index === activeQuestion) ? 'active' : 'inactive' }}
					{{ (myQuestion.questionState) === 'answered' ? 'answered' : 'unanswered' }}" ng-repeat="myQuestion in myQuestions">

					<p class="txt">{{ myQuestion.question }} {{ myQuestion.selectAnswer }}</p>
					<p class="ans" ng-class="{
							image:answer.image,
							selected:isSelected($parent.$index, $index),
							correct:isCorrect($parent.$index, $index)
						}" ng-style="{ 'background-image': 'url({{answer.image}})' }" ng-click="selectAnswer($parent.$index, $index)" ng-repeat="answer in myQuestion.answers">{{ answer.text }}
					</p>
					<div class=" col-md-9 pull-right" ng-show="(myQuestion.questionState) === 'answered'">
						<h1 ng-show="myQuestion.correctness === 'correct'" class="right-answer">
							<strong>أجابـــــه صحيحـــــه</strong>
						</h1>
						<p ng-show="myQuestion.correctness === 'incorrect'" class="wrong-answer">اجابـــــه خاطئـــــــة</p>
						<p class="btn" ng-click="selectContinue()">Continue</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 results-a" ng-show="activeQuestion>=0">
				<h2>اﻻسئلـــة</h2>
				<br/>
				<div ng-repeat="myQuestion in myQuestions">
					<div ng-show="myQuestion.questionState != 'answered'" class="{{ ($index === activeQuestion)  ? 'active-result' : 'deactive-result' }}">
						{{ $index + 1 }}
					</div>
					<div ng-show="myQuestion.questionState == 'answered'" class=" {{ myQuestion.correctness==='correct'
						? 'correct-result' : 'incorrect-result'}} ">
						{{ $index + 1 }}
					</div>
				</div>
			</div>

		</div>
	</div>
	<script type="text/javascript " src="js/angular.min.js "></script>
	<script type="text/javascript " src="js/quiz.js "></script>
</body>

</html>